.q2 button{
  margin:20px;
  padding:25px;
  min-width: 140px;
}
.btnRight{
  float:right;
}

.scrollToTop{
	width:100px;
	height:130px;
	padding:10px;
	text-align:center;
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background: url(index.png) no-repeat 20px 50px;
  background-size: 50% 50%;
}
.scrollToTop:hover{
	text-decoration:none;
}
